# Skeleton of Assignment 4:
test if the distribution of 

1) trip duration of bikers that ride during the day vs night

2) age of bikers for trips originating in Manhattan and in Brooklyn

are different. Use 3 tests: KS, Pearson's, Spearman's. 

Use the scipy.stats functions scipy.stats.ks_2samp, scipy.stats.pearsonr, scipy.stats.spearmanr. 

For the KS do the test with the entire dataset and with a subset 200 times smaller

Choose a single significant threshold for the whole exercise. 

For each test phrase the Null Hypothesis in words.

Describe the return of the scipy function you use in each case.

State the result in terms of rejection of the Null.

### I am defining a function to read the data below. This is exactly the same function that I used in the previous homework

In [1]:
import requests, zipfile,io
from io import StringIO
from zipfile import ZipFile
from urllib.request import urlopen
import pandas as pd
import scipy.stats
%pylab inline

#MY REFERENCE:
#https://stackoverflow.com/questions/9419162/python-download-returned-zip-file-from-url
def getData(datestring):
    
    zip_file_url=("https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
    r = requests.get(zip_file_url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall()
    df = pd.read_csv(z.open(datestring+'-citibike-tripdata.csv'))
    return df

Populating the interactive namespace from numpy and matplotlib

### I am reading data from warmer months, since there are more riders in the warm weather and ridership patterns may change with weather, temperature, etc. and I am concatenating the data.

In [2]:
df=pd.concat([getData("201507"), getData("201508")])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,1
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,1
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,1

# 1) trip duration of bikers that ride during the day vs night

H0: there is no statistical difference between distributions of trip duration of bikers during the day vs night
$$ \alpha = 0.05 $$

In [3]:
df['time_of_day'] = (pd.to_datetime(df['starttime'])).dt.hour
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,time_of_day
0,732,7/1/2015 00:00:03,7/1/2015 00:12:16,489,10 Ave & W 28 St,40.750664,-74.001768,368,Carmine St & 6 Ave,40.730386,-74.002150,18669,Subscriber,1970.0,1,0
1,322,7/1/2015 00:00:06,7/1/2015 00:05:29,304,Broadway & Battery Pl,40.704633,-74.013617,3002,South End Ave & Liberty St,40.711512,-74.015756,14618,Subscriber,1984.0,1,0
2,790,7/1/2015 00:00:17,7/1/2015 00:13:28,447,8 Ave & W 52 St,40.763707,-73.985162,358,Christopher St & Greenwich St,40.732916,-74.007114,18801,Subscriber,1992.0,1,0
3,1228,7/1/2015 00:00:23,7/1/2015 00:20:51,490,8 Ave & W 33 St,40.751551,-73.993934,250,Lafayette St & Jersey St,40.724561,-73.995653,19137,Subscriber,1990.0,1,0
4,1383,7/1/2015 00:00:44,7/1/2015 00:23:48,327,Vesey Pl & River Terrace,40.715338,-74.016584,72,W 52 St & 11 Ave,40.767272,-73.993929,15808,Subscriber,1988.0,1,0

In [4]:
df.time_of_day.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [5]:
df=df[['tripduration', 'time_of_day']]
df.head()

   tripduration  time_of_day
0           732            0
1           322            0
2           790            0
3          1228            0
4          1383            0

In [6]:
df['day'] = (df['time_of_day'] >7) & (df['time_of_day'] <= 19)

df.head()

   tripduration  time_of_day    day
0           732            0  False
1           322            0  False
2           790            0  False
3          1228            0  False
4          1383            0  False

In [7]:
df['tripduration'].dropna(inplace= True)

In [8]:
df.head()

   tripduration  time_of_day    day
0           732            0  False
1           322            0  False
2           790            0  False
3          1228            0  False
4          1383            0  False

In [9]:
import scipy.stats
ks = scipy.stats.ks_2samp((df.tripduration[df['day']== True]), (df.tripduration[df['day']==False]))
p_ks=ks.pvalue
print(ks)

Ks_2sampResult(statistic=0.040190221006238036, pvalue=0.0)

In [10]:
alpha=0.05

if p_ks< alpha:
    print("Reject the null hypothesis, since p=", p_ks, "< alpha=", alpha)
else:
    print("Null hypothesis cannot be rejected since p=", p_ks, ">= alpha=", alpha)

Reject the null hypothesis, since p= 0.0 < alpha= 0.05

### This means there is a difference between distributions of trip durations of bikers during the day and the night. Null hypothesis is rejected.

## Now retest using a test for correlation.

## Pearson's test for correlation
## notice that the Pearson's is a pairwise test: the samples need to be a. the same size b. sorted

## NULL HYPOTHESIS: The distributions of trip durations of bikers during the day and the night are  NOT correlated.

In [11]:
# We have to seperate two dataset (day and night) since the sizes are not equal

#Daytime Trips

trip_day=df[df['day']== True]

print(len(trip_day))

1766095

In [12]:
trip_night=df[df['day']== False]
print(len(trip_night))

498625

In [13]:
trip_night.head()

   tripduration  time_of_day    day
0           732            0  False
1           322            0  False
2           790            0  False
3          1228            0  False
4          1383            0  False

In [14]:
trip_day.head()

      tripduration  time_of_day   day
3131           828            8  True
3132           601            8  True
3133           439            8  True
3134           888            8  True
3135           226            8  True

## The sizes are different, the smaller size is of trip_night. Therefore take a sample from trip_day.

In [15]:
np.random.seed(12)

# First sort the one with smaller size
trip_night_pearson= sorted(trip_night.tripduration)

# then take a sample from the large one with a size of the small one and sort it
trip_day_pearson= sorted(np.random.choice(trip_day.tripduration, len(trip_night_pearson)))

# Now they are sorted and with equal size, we are ready to apply pearson test

pearson=scipy.stats.pearsonr(trip_night_pearson, trip_day_pearson)

print(pearson)

(0.98689168930244509, 0.0)

# The correlation value is 0.968, and p value is 0.0
# p value is less than alpha (0.05). Therefore, reject the null hypothesis

# Spearman's test for correlation

In [16]:
spearman=scipy.stats.spearmanr(trip_night_pearson,trip_day_pearson)
print(spearman)

SpearmanrResult(correlation=0.99999943243380884, pvalue=0.0)

## The correlation value is 0.999, pvalue is 0.0

## p value is less than alpha=0.5. Therefore, reject the null hypothesis.